---
---

// Title Bar Color
$primary: #a54929;

// Change the default blue
$blue: #36cc98;

// Import Main CSS file from theme
@import "main";

// Make all links bold for better visibility
a:any-link {
  font-weight: bold;
}

a:link {
  color: #c27928;
}

a:visited {
  color: #36cc98;
}

